<DOCTYPE! html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="CSS/style.css">
  <link rel="stylesheet" href="CSS/normalize.css">
  <link rel="stylesheet" href="CSS/responsive.css">
  <title>Startpage</title>
</head>
<body>
    <div id="box">
    <div id="clock">
      <script type="text/javascript">
      function GetClock(){
        var d=new Date();
        var nhour=d.getHours(),nmin=d.getMinutes();
        if(nmin<=9) nmin="0"+nmin
        document.getElementById('clock').innerHTML=""+nhour+":"+nmin+"";
      }
      window.onload=function(){
        GetClock();
        setInterval(GetClock,1000);
      }
      </script>
    </div>
    <div id="links">
      <table>
        <tr>
          <td><a href="https://www.unitedbsd.com/" target="_blank" rel="noreferrer noopener">unitedbsd</a></td>
          <td><a href="https://nixers.net/" target="_blank" rel="noreferrer noopener">nixers</a></td>
          <td><a href="https://fosstodon.org/web/timelines/home" target="_blank" rel="noreferrer noopener">fosstodon</a></td>
        </tr>
        <tr>
          <td><a href="https://lobste.rs/" target="_blank" rel="noreferrer noopener">lobsters</a></td>
          <td><a href="https://deskto.ps/" target="_blank" rel="noreferrer noopener">desktops</a></td>
          <td><a href="https://thehackernews.com/" target="_blank" rel="noreferrer noopener">hackernews</a></td>
        </tr>
        <tr>
          <td><a href="https://odysee.com" target="_blank" rel="noreferrer noopener">odysee</a></td>
          <td><a href="https://www.reddit.com/" target="_blank" rel="noreferrer noopener">reddit</a></td>
          <td><a href="https://www.youtube.com/" target="_blank" rel="noreferrer noopener">youtube</a></td>
        </tr>
        <tr>
          <td><a href="http://pkgsrc.se/" target="_blank" rel="noreferrer noopener">pkgsrc</a></td>
          <td><a href="https://github.com/pfr-dev" target="_blank" rel="noreferrer noopener">github</a></td>
          <td><a href="https://codeberg.org/Ramiferous" target="_blank" rel="noreferrer noopener">codeberg</a></td>
        </tr>
        <tr>
          <td><a href="https://mail.google.com/" target="_blank" rel="noreferrer noopener">gmail</a></td>
          <td><a href="https://mail.protonmail.com/inbox" target="_blank" rel="noreferrer noopener">protonmail</a></td>
          <td><a href="https://mx.sdf.org/sm/src/login.php" target="_blank" rel="noreferrer noopener">squirrelmail</a></td>
        </tr>
      </table>
    </div>
  </div>
  <img id="waifu" src="IMG/Cute-Anime-Girl-Render-Transparent-Image.png">
</body>
